body {
    font-family: Arial, sans-serif;
    border: 2px solid #89b4fa;
    width: 250px;
    height: 430px;
    margin: 0;
    box-sizing: border-box;
    background-color: #1e1e2e;
}

h1 {
    font-size: 25px;
    font-style: bold;
    color: #fff;
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #89b4fa;
    margin-top: 10px; 
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 20px 20px;
}

form {
    background: transparent;
}

p, label {
    margin: 0 0 10px;
    font-size: 14px;
    color: #fff;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #585b70;
    border: 2px solid #89b4fa;
    color: white;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #a6adc8;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 150px;
    margin: 0 auto;
}

#colorForm input[type="radio"] {
    display: none;
}

.color-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

input[type="radio"]:checked + .color-circle {
    border: 3px solid #FFFFFF;
}
